@charset "UTF-8";
body {
   text-align: center;
   background: rgb(18,85,7);
background: linear-gradient(90deg, rgba(18,85,7,1) 0%, rgba(35,156,30,1) 25%, rgba(52,215,18,1) 50%, rgba(47,158,29,1) 75%, rgba(18,88,12,1) 100%);
    color: yellow;
    font-size: 12pt;
    font-family: Arial;
}
h1{
    font-family: Arial;
    font-size: 30pt;
    color: rgb(255, 217, 0);
}

h2{
    font-family: Arial;
    font-size: 20pt;
    color: rgb(21, 255, 0);
}

a{
    color: rgb(1, 1, 255);
    text-decoration: none;
}

.dolor{
    color: rgb(6, 6, 252);
    text-shadow: 1px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dolorido{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 350px;
}

